<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <meta charset="UTF-8">
  <title>IMDb Guessing Game</title>
  
</head>
<body>
  <div class="animated-bg"></div>
  <!-- LOGO placeres centralt -->
  <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">

  <h1>Round Points: {{ round_score }} | Total Score: {{ score }}</h1>

  <div class="hint-box">
    {% for i in range(hints_shown) %}
      <div><strong>Hint {{ i+1 }}:</strong> {{ round['hints'][i] }}</div>
    {% endfor %}

    {% if hints_shown < 5 %}
      <a class="hint-btn" href="{{ url_for('main.reveal_hint') }}">
        Hint {{ hints_shown+1 }} <span style="float:right;">: -100 pts</span>
      </a>
    {% endif %}
  </div>

  <div class="options">
    {% for option in options %}
      <a class="movie-btn" href="{{ url_for('main.guess', movie_id=option.id) }}">
        {{ option.title }}
      </a>
    {% endfor %}
  </div>

</body>
</html>
